*

!.gitignore

!.cfg-info
!.cfg-info/**

!.profile
!.bashrc
!.bash_logout

!.condarc

!.gitconfig

!.zshenv
!.zshrc
.zcompdump

!.config
!.config/nvim
!.config/nvim/init.lua
!.config/nvim/vimrc.vim
!.config/nvim/init.vim

!.config/zsh
!.config/zsh/*
.config/zsh/zsh-autosuggestions
.config/zsh/zsh-syntax-highlighting
.config/zsh/histfile
.config/zsh/zcmd.db

!.config/starship.toml

!.config/bash
!.config/bash/**


