# GHOSTTY CONFIGURATION FILE
# see: https://ghostty.org/docs/config
# macos-specific: also a higher priority config file in $HOME/Library/Application\ Support/com.mitchellh.ghostty/config

# Themes
# use `ghostty +list-themes to see themes
# favourite themes:
# - Adwaita Dark (dark background, purple/green high contrast, full white select) **dark
# - Batman (this is a 2 color theme, black and yellow, awesome...)
# - "Black Metal (Venom)" (dark background, gray/dark red, extremely low color theme)
# - Breadog (light background, purple/green high contrast, dark slate select) **light**
# - Brogrammer (dark background, darkblue/green high contrast, light select) **dark
# - Bright Lights (dark background, purple/green high contrast, light blue/dark orange select) **dark
# - Carbonfox (dark background, purple/green high contrast, light select) **dark
# - Catppuccin Latte (light background, pink/green high contrast, light gray/orange select) **light**
# - Citruszest (dark background, purple/green high contrast, bright orange/gray select) **dark**
# - CLRS (light background, purple/green high contrast, sky blue select) **light**
# - Doom Peacock (dark background, purple/green low contrast, crimson red select) **dark**
# - Flexoki Dark (dark background, pink/green high contrast, gray select) **dark
# - Framer (dark background, purple/green high contrast, gray/yellow select) **dark**
# - Front End Delight (dark background, red/green high contrast, salmon red/white select) **dark
# - Gruber Darker (dark background, violet/green high contrast, white/yellow select) **dark
# - Matte Black (dark background, red/yellow low contrast, gray select) **dark
# - Oxocarbon (dark background, purple/blue high contrast, dark gray select) **dark**
# - Raycast Dark (dark background, pink/green high contrast, dark gray select) **dark**
# - Seti (dark background, purple/green low contrast, gray/yellow select) **dark
# - Sleepy Hollow (dark background, yellow very low contrast, light select) **dark
# - Srcery (dark background, pink/green high contrast, white/yellow select) **dark**
# - Treehouse (dark background, red/green low contrast, yellow select) **dark**
# - Violet Light (light background, pink/green low contrast, violet select) **light**
# - Wombat (dark background, purple/light green high contrast, gray/beige select) **dark**
theme = dark:Citruszest,light:Breadog
background-opacity = 0.9
background-blur = 20

# Fonts
# use `ghostty +list-fonts` to see all fonts
font-family = Hack Nerd Font Mono Regular

# Quick Terminal
quick-terminal-position = bottom
quick-terminal-size = 30%

# keybinds
keybind = global:cmd+backquote=toggle_quick_terminal
keybind = cmd+p=toggle_window_float_on_top

# padding : text simply too close to window edges
window-padding-x = 10
window-padding-y = 5

# window size
window-width = 100
window-height = 41