theme "kanagawa_contrast" // custom kanagawa theme with better contrast (defined below)
default_layout "default"
default_mode "locked"
pane_frames true
simplified_ui true
show_startup_tips false
scrollback_lines_to_save 10000
default_shell "zsh"

keybinds clear-defaults=true {
  // SHARED KEYBINDS ==================================
  shared_except "scroll" {
    bind "F9" { SwitchToMode "Scroll"; }
  }
  shared_except "session" {
    bind "F12" { SwitchToMode "Session"; }
  }
  shared_except "normal" {
    bind "F10" { SwitchToMode "Normal"; }
  }
  shared_except "locked" "entersearch" "renametab" "renamepane" {
    bind "Space" "Esc" { SwitchToMode "Locked"; }
    bind "Enter" { ToggleFocusFullscreen; }
  }
  // MODE SPECIFIC ==============================================
  locked {
    bind "Ctrl Shift Enter" { ToggleFocusFullscreen; }

    bind "Ctrl Shift /" { SwitchToMode "EnterSearch"; SearchInput 0; }

    bind "Ctrl Shift Tab" { SwitchFocus; }
    bind "Ctrl Shift f" { ToggleFloatingPanes; }
    bind "Ctrl Shift a" { ToggleActiveSyncTab; }
    bind "Ctrl Shift m" { TogglePaneFrames; }
    bind "Ctrl Shift p" { BreakPane; }
    bind "Ctrl Shift e" { TogglePaneEmbedOrFloating; }
    bind "Ctrl Shift r" { SwitchToMode "RenamePane"; PaneNameInput 0; }

    bind "Ctrl Shift g" { TogglePaneInGroup; }

    bind "Ctrl Shift h" { MoveFocus "Left"; }
    bind "Ctrl Shift j" { MoveFocus "Down"; }
    bind "Ctrl Shift k" { MoveFocus "Up"; }
    bind "Ctrl Shift l" { MoveFocus "Right"; }
    bind "Ctrl Shift [" { Resize "Decrease"; }
    bind "Ctrl Shift ]" { Resize "Increase"; }

    bind "Ctrl Shift u" { PageScrollUp; }
    bind "Ctrl Shift b" { PageScrollDown; }

    bind "Ctrl Shift n" { NewPane; }
    bind "Ctrl Shift s" { NewPane "Right"; }
    bind "Ctrl Shift d" { NewPane "Down"; }
    bind "Ctrl Shift w" "Ctrl Shift x" { CloseFocus; }
    bind "Ctrl Shift t" { NewTab; }
    bind "Ctrl Shift q" { CloseTab; }

    bind "Ctrl Shift i" { GoToPreviousTab; }
    bind "Ctrl Shift o" { GoToNextTab; }

    bind "Ctrl Shift 1" { GoToTab 1; }
    bind "Ctrl Shift 2" { GoToTab 2; }
    bind "Ctrl Shift 3" { GoToTab 3; }
    bind "Ctrl Shift 4" { GoToTab 4; }
    bind "Ctrl Shift 5" { GoToTab 5; }
    bind "Ctrl Shift 6" { GoToTab 6; }
    bind "Ctrl Shift 7" { GoToTab 7; }
    bind "Ctrl Shift 8" { GoToTab 8; }
    bind "Ctrl Shift 9" { GoToTab 9; }
  }
  normal {
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }

    bind "Tab" { SwitchFocus; }
    bind "Shift Tab" { ToggleTab; }

    bind "f" { ToggleFloatingPanes; }
    bind "shift f" { TogglePanePinned; }
    bind "a" { ToggleActiveSyncTab; }
    bind "m" { TogglePaneFrames; }
    bind "p" { BreakPaneRight; }
    bind "shift p" { BreakPaneLeft; }
    bind "e" { TogglePaneEmbedOrFloating; }
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    bind "Shift r" { SwitchToMode "RenameTab"; TabNameInput 0; }

    bind "g" { TogglePaneInGroup; }
    bind "Shift g" { ToggleGroupMarking; }

    bind "n" { NewPane; }
    bind "Shift n" { NewPane "stacked"; }
    bind "s" { NewPane "Right"; }
    bind "d" { NewPane "Down"; }
    bind "w" "x" { CloseFocus; }
    bind "t" { NewTab; }
    bind "q" { CloseTab; }
    bind "shift q" { Quit; }

    bind "h" { MoveFocusOrTab "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocusOrTab "Right"; }
    bind "Shift h" { Resize "Left"; }
    bind "Shift j" { Resize "Down"; }
    bind "Shift k" { Resize "Up"; }
    bind "Shift l" { Resize "Right"; }
    bind "-" "[" { Resize "Decrease"; }
    bind "=" "+" "]" { Resize "Increase"; }
    bind "Alt h" { MovePane "Left"; }
    bind "Alt j" { MovePane "Down"; }
    bind "Alt k" { MovePane "Up"; }
    bind "Alt l" { MovePane "Right"; }

    bind "o" { GoToNextTab; }
    bind "i" { GoToPreviousTab; }
    bind "Shift o" { MoveTab "Right"; }
    bind "Shift i" { MoveTab "Left"; }

    bind "Ctrl k" "Up" { ScrollUp; }
    bind "Ctrl j" "Down" { ScrollDown; }
    bind "Ctrl h" "Left" { HalfPageScrollUp; }
    bind "Ctrl l" "Right" { HalfPageScrollDown; }
    bind "u" { PageScrollUp; }
    bind "b" { PageScrollDown; }
    bind "Shift u" { ScrollToTop; }
    bind "Shift b" { ScrollToBottom; }

    bind "1" { GoToTab 1; }
    bind "2" { GoToTab 2; }
    bind "3" { GoToTab 3; }
    bind "4" { GoToTab 4; }
    bind "5" { GoToTab 5; }
    bind "6" { GoToTab 6; }
    bind "7" { GoToTab 7; }
    bind "8" { GoToTab 8; }
    bind "9" { GoToTab 9; }
  }
  renametab {
    bind "Esc" { UndoRenameTab; SwitchToMode "Locked"; }
    bind "Enter" { SwitchToMode "Locked"; }
  }
  renamepane {
    bind "Esc" { UndoRenamePane; SwitchToMode "Locked"; }
    bind "Enter" { SwitchToMode "Locked"; }
  }
  scroll {
    bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "l" "Right" { HalfPageScrollDown; }
    bind "h" "Left" { HalfPageScrollUp; }
    bind "b" { PageScrollDown; }
    bind "u" { PageScrollUp; }
    bind "Shift u" { ScrollToTop; }
    bind "Shift b" { ScrollToBottom; }
    bind "c" { Clear; }
  }
  entersearch {
    bind "Esc" { SwitchToMode "Locked"; }
    bind "Enter" { SwitchToMode "Search"; }
  }
  search {
    bind "j" "Down" { ScrollDown; }
    bind "k" "Up" { ScrollUp; }
    bind "l" "Right" { HalfPageScrollDown; }
    bind "h" "Left" { HalfPageScrollUp; }
    bind "b" { PageScrollDown; }
    bind "u" { PageScrollUp; }
    bind "n" { Search "down"; }
    bind "shift n" { Search "up"; }
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "w" { SearchToggleOption "Wrap"; }
    bind "o" { SearchToggleOption "WholeWord"; }
  }
  session {
    bind "d" { Detach; }
    bind "w" {
        LaunchOrFocusPlugin "session-manager" {
            floating true
            move_to_focused_tab true
        };
        SwitchToMode "Locked"
    }
    bind "c" {
        LaunchOrFocusPlugin "configuration" {
            floating true
            move_to_focused_tab true
        };
        SwitchToMode "Locked"
    }
    bind "p" {
        LaunchOrFocusPlugin "plugin-manager" {
            floating true
            move_to_focused_tab true
        };
        SwitchToMode "Locked"
    }
    bind "a" {
        LaunchOrFocusPlugin "zellij:about" {
            floating true
            move_to_focused_tab true
        };
        SwitchToMode "Locked"
    }
    bind "s" {
        LaunchOrFocusPlugin "zellij:share" {
            floating true
            move_to_focused_tab true
        };
        SwitchToMode "Locked"
    }
  }
  // NOT REALLY NEEDED BUT KEEPING FOR REFERENCE ============================== (can enable for like a pseudo cheat sheet mode, ensure you bind keys to enter these modes)
  shared_except "Pane" {
    bind "F1" { SwitchToMode "Pane"; }
  }
  shared_except "Tab" {
    bind "F2" { SwitchToMode "Tab"; }
  }
  shared_except "Resize" {
    bind "F3" { SwitchToMode "Resize"; }
  }
  shared_except "Move" {
    bind "F4" { SwitchToMode "Move"; }
  }
  pane {
    bind "h" { MoveFocusOrTab "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocusOrTab "Right"; }
    bind "Shift h" { Resize "Left"; }
    bind "Shift j" { Resize "Down"; }
    bind "Shift k" { Resize "Up"; }
    bind "Shift l" { Resize "Right"; }
    bind "-" "[" { Resize "Decrease"; }
    bind "=" "+" "]" { Resize "Increase"; }
    bind "Alt h" { MovePane "Left"; }
    bind "Alt j" { MovePane "Down"; }
    bind "Alt k" { MovePane "Up"; }
    bind "Alt l" { MovePane "Right"; }

    bind "Tab" { SwitchFocus; }

    bind "g" { TogglePaneInGroup; }
    bind "Shift g" { ToggleGroupMarking; }

    bind "n" { NewPane; }
    bind "shift n" { NewPane "stacked"; }
    bind "s" { NewPane "Right"; }
    bind "d" { NewPane "Down"; }
    bind "w" "x" { CloseFocus; }

    bind "f" { ToggleFloatingPanes; }
    bind "shift f" { TogglePanePinned; }
    bind "m" { TogglePaneFrames; }
    bind "p" { BreakPaneRight; SwitchToMode "Locked"; }
    bind "shift p" { BreakPaneLeft; SwitchToMode "Locked"; }
    bind "e" { TogglePaneEmbedOrFloating; }
    bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
  }
  tab {
    bind "i" "h" "Left" { GoToPreviousTab; }
    bind "o" "l" "Right" { GoToNextTab; }
    bind "Shift o" { MoveTab "Right"; }
    bind "Shift i" { MoveTab "Left"; }

    bind "t" { NewTab;}
    bind "q" { CloseTab; }
    bind "Tab" { ToggleTab; }
    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

    bind "a" { ToggleActiveSyncTab; SwitchToMode "Locked"; }

    bind "1" { GoToTab 1; SwitchToMode "Locked"; }
    bind "2" { GoToTab 2; SwitchToMode "Locked"; }
    bind "3" { GoToTab 3; SwitchToMode "Locked"; }
    bind "4" { GoToTab 4; SwitchToMode "Locked"; }
    bind "5" { GoToTab 5; SwitchToMode "Locked"; }
    bind "6" { GoToTab 6; SwitchToMode "Locked"; }
    bind "7" { GoToTab 7; SwitchToMode "Locked"; }
    bind "8" { GoToTab 8; SwitchToMode "Locked"; }
    bind "9" { GoToTab 9; SwitchToMode "Locked"; }
  }
  resize {
    bind "h" { MoveFocusOrTab "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocusOrTab "Right"; }
    bind "Shift h" { Resize "Left"; }
    bind "Shift j" { Resize "Down"; }
    bind "Shift k" { Resize "Up"; }
    bind "Shift l" { Resize "Right"; }
    bind "-" "[" { Resize "Decrease"; }
    bind "=" "+" "]" { Resize "Increase"; }
  }
  move {
    bind "h" { MoveFocusOrTab "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocusOrTab "Right"; }
    bind "Shift h" "Left" { MovePane "Left"; }
    bind "Shift j" "Down" { MovePane "Down"; }
    bind "Shift k" "Up" { MovePane "Up"; }
    bind "Shift l" "Right" { MovePane "Right"; }
    bind "o" "u" { MovePane; }
    bind "i" "b" { MovePaneBackwards; }
  }
}

themes {
    kanagawa_contrast {
        text_unselected {
            base 220 215 186
            background 22 22 29
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        text_selected {
            base 22 22 29
            background 118 148 106
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        ribbon_selected {
            base 22 22 29
            background 118 148 106
            emphasis_0 195 64 67
            emphasis_1 255 160 102
            emphasis_2 149 127 184
            emphasis_3 126 156 216
        }
        ribbon_unselected {
            base 22 22 29
            background 220 215 186
            emphasis_0 195 64 67
            emphasis_1 220 215 186
            emphasis_2 126 156 216
            emphasis_3 149 127 184
        }
        table_title {
            base 118 148 106
            background 0
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        table_cell_selected {
            base 22 22 29
            background 118 148 106
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        table_cell_unselected {
            base 220 215 186
            background 22 22 29
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        list_selected {
            base 22 22 29
            background 118 148 106
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        list_unselected {
            base 220 215 186
            background 22 22 29
            emphasis_0 255 160 102
            emphasis_1 127 180 202
            emphasis_2 118 148 106
            emphasis_3 149 127 184
        }
        exit_code_success {
            base 118 148 106
            background 0
            emphasis_0 127 180 202
            emphasis_1 22 22 29
            emphasis_2 149 127 184
            emphasis_3 126 156 216
        }
        exit_code_error {
            base 195 64 67
            background 0
            emphasis_0 255 158 59
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 149 127 184
            player_2 126 156 216
            player_3 0
            player_4 255 158 59
            player_5 127 180 202
            player_6 0
            player_7 195 64 67
            player_8 0
            player_9 0
            player_10 0
        }
        // To achieve better contrast in frame selects, comment out default, use this website and slide contrast slider https://www.hslpicker.com/#ff7824
        // Since palette is used in both frame_selected and frame_highlight, display old to new below here
        // 255 160 102 -> 255 120 36 (orange)
        // 149 127 184 -> 133 67 240 (purple)
        // 118 148 106 -> 108 172 82 (green)
        // 127 180 202 -> 74 173 215 (blue)
        // HIGH CONTRAST (BUT ALSO CUSTOM COLORS CHOICE)
        frame_selected {
            base 108 172 82 // current pane (normal)
            background 0
            emphasis_0 255 160 102 // multiplayer highlight panes??? (LOW CONTRAST VERSIONS)
            emphasis_1 149 127 184 // ...
            emphasis_2 255 160 102
            emphasis_3 255 160 102
        }
        frame_highlight {
            base 74 173 215 // current pane (non-normal + mouse hover)
            background 0
            emphasis_0 255 120 36 // under selection (group) & under selection (group) + current pane (mouse hover)
            emphasis_1 133 67 240 // under selection (group) + current pane (normal + non-normal)
            emphasis_2 255 120 36
            emphasis_3 255 120 36
        }
        // HIGH CONTRAST (BUT STILL ORIGINAL BASE COLORS CHOICE)
        // frame_selected {
        //     base 108 172 82
        //     background 0
        //     emphasis_0 255 120 36
        //     emphasis_1 74 173 215
        //     emphasis_2 133 67 240
        //     emphasis_3 0
        // }
        // frame_highlight {
        //     base 255 120 36
        //     background 0
        //     emphasis_0 133 67 240
        //     emphasis_1 255 120 36
        //     emphasis_2 255 120 36
        //     emphasis_3 255 120 36
        // }
        // ORIGINAL
        // frame_selected {
        //     base 118 148 106
        //     background 0
        //     emphasis_0 255 160 102
        //     emphasis_1 127 180 202
        //     emphasis_2 149 127 184
        //     emphasis_3 0
        // }
        // frame_highlight {
        //     base 255 160 102
        //     background 0
        //     emphasis_0 149 127 184
        //     emphasis_1 255 160 102
        //     emphasis_2 255 160 102
        //     emphasis_3 255 160 102
        // }
    }
}