layout name="system" {
    pane
    floating_panes {
        pane stacked=true {
            pane command="fastfetch" expanded=true
            pane command="btm"
        }
    }
    swap_tiled_layout name="quad-tile-vert" {
        tab max_panes=2 split_direction="vertical"{
            pane
            pane
        }
        tab max_panes=3 split_direction="vertical" {
            pane
            pane {
                pane
                pane
            }
        }
        tab split_direction="vertical" {
            pane {
                pane
                pane
            }
            pane {
                pane
                pane
            }
        }
    }

    swap_tiled_layout name="quad-tile-horz" {
        tab max_panes=2 {
            pane
            pane
        }
        tab max_panes=3 {
            pane
            pane split_direction="vertical"{
                pane
                pane
            }
        }
        tab {
            pane split_direction="vertical"{
                pane
                pane
            }
            pane split_direction="vertical"{
                pane
                pane
            }
        }
    }
}