base-files
base-passwd
bash
bat
bsdutils
build-essential
dash
diff-so-fancy
diffutils
exa
fd-find
findutils
fzf
gcc
gdb
grep
gzip
hostname
init
libboost-all-dev
libdebconfclient0
libncurses5-dev
libncursesw5-dev
login
ncurses-base
ncurses-bin
neovim
ninja-build
postgresql
postgresql-contrib
sad
sysvinit-utils
ubuntu-minimal
ubuntu-standard
ubuntu-wsl
unzip
valgrind
zip
zsh
