apport
base-files
base-passwd
bash
bat
binutils
bsdutils
build-essential
ca-certificates
cmake
curl
dash
dbus-x11
diff-so-fancy
diffutils
dirmngr
exa
fd-find
findutils
fontconfig
fonts-ubuntu
fzf
gcc
gdb
git
gnupg
grep
gzip
hostname
htop
init
kitware-archive-keyring
libboost-all-dev
libdebconfclient0
libncurses5-dev
libncursesw5-dev
login
lsb-release
motd-news-config
ncurses-base
ncurses-bin
neovim
ninja-build
patch
postgresql
postgresql-contrib
ripgrep
sad
screen
show-motd
snapd
software-properties-common
sysvinit-utils
tmux
ubuntu-minimal
ubuntu-standard
unattended-upgrades
unzip
valgrind
vim
wsl-setup
zip
zsh
