# GHOSTTY CONFIGURATION FILE
# see: https://ghostty.org/docs/config
# macos-specific: also a higher priority config file in $HOME/Library/Application\ Support/com.mitchellh.ghostty/config

# Themes
# use `ghostty +list-themes to see themes
# favourite themes:
# - Adwaita Dark (dark background, purple/green high contrast, full white select) **dark
# - Batman (this is a 2 color theme, black and yellow, awesome...)
# - "Black Metal (Venom)" (dark background, gray/dark red, extremely low color theme)
# - Breadog (light background, purple/green high contrast, dark slate select) **light**
# - Brogrammer (dark background, darkblue/green high contrast, light select) **dark
# - Bright Lights (dark background, purple/green high contrast, light blue/dark orange select) **dark
# - Carbonfox (dark background, purple/green high contrast, light select) **dark
# - Catppuccin Latte (light background, pink/green high contrast, light gray/orange select) **light**
# - Citruszest (dark background, purple/green high contrast, bright orange/gray select) **dark**
# - CLRS (light background, purple/green high contrast, sky blue select) **light**
# - Doom Peacock (dark background, purple/green low contrast, crimson red select) **dark**
# - Flexoki Dark (dark background, pink/green high contrast, gray select) **dark
# - Framer (dark background, purple/green high contrast, gray/yellow select) **dark**
# - Front End Delight (dark background, red/green high contrast, salmon red/white select) **dark
# - Gruber Darker (dark background, violet/green high contrast, white/yellow select) **dark
# - Matte Black (dark background, red/yellow low contrast, gray select) **dark
# - Oxocarbon (dark background, purple/blue high contrast, dark gray select) **dark**
# - Raycast Dark (dark background, pink/green high contrast, dark gray select) **dark**
# - Seti (dark background, purple/green low contrast, gray/yellow select) **dark
# - Sleepy Hollow (dark background, yellow very low contrast, light select) **dark
# - Srcery (dark background, pink/green high contrast, white/yellow select) **dark**
# - Treehouse (dark background, red/green low contrast, yellow select) **dark**
# - Violet Light (light background, pink/green low contrast, violet select) **light**
# - Wombat (dark background, purple/light green high contrast, gray/beige select) **dark**
theme = dark:Citruszest,light:Breadog
background-opacity = 0.9
background-blur = 20

# Fonts
# use `ghostty +list-fonts` to see all fonts
font-family = Hack Nerd Font Mono Regular

# Quick Terminal
quick-terminal-position = bottom
quick-terminal-size = 30%

# keybinds : from scratch (clear all defaults)
# use `ghostty +list-keybinds` to list all defined
# use `ghostty +list-keybinds --default` to list all default keybinds (for reference)
keybind = clear

keybind = cmd+,=open_config
keybind = cmd+shift+,=reload_config

keybind = cmd+q=quit
keybind = cmd+n=new_window
keybind = cmd+t=new_tab
keybind = cmd+x=close_surface
keybind = cmd+w=close_tab
keybind = cmd+shift+w=close_window
keybind = cmd+i=previous_tab
keybind = cmd+o=next_tab

keybind = cmd+d=new_split:right
keybind = cmd+shfit+d=new_split:down
keybind = cmd+h=goto_split:left
keybind = cmd+j=goto_split:down
keybind = cmd+k=goto_split:up
keybind = cmd+l=goto_split:right
keybind = cmd+shift+h=resize_split:left
keybind = cmd+shift+j=resize_split:down
keybind = cmd+shift+k=resize_split:up
keybind = cmd+shift+l=resize_split:right

keybind = cmd+shift+p=toggle_command_palette
keybind = global:cmd+backquote=toggle_quick_terminal
keybind = cmd+enter=toggle_fullscreen
keybind = cmd+shift+enter=toggle_window_float_on_top

keybind = cmd+u=scroll_page_up
keybind = cmd+b=scroll_page_down
keybind = cmd+shift+u=scroll_to_top
keybind = cmd+shift+b=scroll_to_bottom

keybind = cmd+0=reset_font_size
keybind = cmd+-=decrease_font_size:1
keybind = cmd+==increase_font_size:1
keybind = cmd++=increase_font_size:1

keybind = cmd+z=undo
keybind = cmd+shift+z=redo

keybind = cmd+a=select_all
keybind = cmd+c=copy_to_clipboard
keybind = cmd+v=paste_from_clipboard
keybind = cmd+shift+v=paste_from_selection
keybind = copy=copy_to_clipboard
keybind = paste=paste_from_clipboard

# padding : text simply too close to window edges
window-padding-x = 10
window-padding-y = 5

# window size
window-width = 120
window-height = 41